export(acquire_source)
export(atomic_modes)
export(bdnb_group_address_metrics)
export(cluster_defs)
export(derive_building_metrics)
export(derive_territory_aggregates)
export(crop_buffer)
export(kept_list_bpe2024)
export(ladder_rungs)
export(make_fixture)
export(manifest_load)
export(manifest_save)
export(osm_crop_network)
export(osm_crop_polygon)
export(osm_geofabrik_source_ids)
export(osm_merge_pbfs)
export(read_matrix)
export(read_bdnb_residential_universe)
export(read_bpe_universe)
export(read_bretagne_polygon)
export(read_epci_communes)
export(read_epci_polygon)
export(read_osm_network)
export(read_osm_pbf)
export(register_source)
export(sha256_file)
export(validate_matrix)

importFrom(data.table, ":=")
importFrom(data.table, set)
importFrom(data.table, setDT)
