export(acquire_source)
export(acquire_korrigobret_gtfs)
export(acquire_srtm_tile)
export(assert_no_absolute_paths)
export(assert_not_durable_root)
export(commit_network_cache)
export(durable_root_of_data_dir)
export(find_durable_ancestor)
export(full_run_dem_bbox)
export(full_run_coordinate_counts)
export(full_run_input_sources)
export(full_run_routing_parameters)
export(full_run_transit_required_ids)
export(full_run_transit_activity_window)
export(full_run_transit_excluded_ids)
export(full_run_transit_exclusion_reasons)
export(filter_school_only_transit_routes)
export(has_durable_root_sentinel)
export(is_absolute_path)
export(korrigobret_source)
export(make_metadata_portable)
export(network_cache_identity)
export(network_fingerprint)
export(network_identity_canonical_lines)
export(network_identity_components)
export(portable_path)
export(probe_network_cache)
export(resolve_cached_path)
export(resolve_transit_service_date)
export(r5r_runtime_versions)
export(safe_remove)
export(select_transit_pins)
export(srtm_source)
export(srtm_tile_ids)
export(school_only_transit_route_policy)
export(stage_full_run_inputs)
export(stage_transit_feeds)
export(transit_window_regimes)
export(validate_dem_raster)
export(validate_korrigobret_gtfs)
export(gtfs_service_date_summary)
export(gtfs_service_activity_summary)
export(project_gtfs_service_date)
export(vitobus_historical_proxy)
export(validate_gtfs_service_date)
export(validate_transit_selection_service_date)
export(verify_transit_pins)
export(write_durable_root_sentinel)
export(probe_run_modes)
export(atomic_modes)
export(bdnb_group_address_metrics)
export(cluster_defs)
export(coordinate_routing_plan)
export(derive_building_metrics)
export(derive_deltas)
export(derive_matrix_rows)
export(derive_transit_matrix_rows)
export(derive_territory_aggregates)
export(crop_buffer)
export(expand_pairs_to_identities)
export(kept_list_bpe2024)
export(ladder_rungs)
export(legacy_accepted_findings)
export(legacy_delta_bands)
export(legacy_drift_sources)
export(legacy_kept_list_divergence)
export(legacy_routed_types)
export(legacy_snapshot_map)
export(link_network)
export(make_fixture)
export(manifest_load)
export(manifest_save)
export(osm_crop_network)
export(osm_crop_polygon)
export(osm_geofabrik_source_ids)
export(osm_merge_pbfs)
export(prepare_bpe_destinations)
export(read_matrix)
export(read_bdnb_residential_universe)
export(read_bpe_universe)
export(read_bretagne_polygon)
export(read_epci_communes)
export(read_epci_polygon)
export(read_legacy_snapshot)
export(read_osm_network)
export(read_osm_pbf)
export(register_source)
export(render_deltas_report)
export(route_pairs)
export(route_bike_pairs)
export(route_transit_pairs)
export(route_unique_coordinates)
export(select_origin_ids)
export(run_tracer)
export(sha256_file)
export(validate_matrix)
export(write_destination_registry)
export(write_matrix_chunk)
export(write_route_pairs_chunk)
export(write_transit_pairs_chunk)
export(atomic_write_json)
export(bdnb_universe_key)
export(chunk_entry_id)
export(chunk_point_slice)
export(chunk_receipt_path)
export(chunk_request_load)
export(chunk_request_save)
export(chunk_worker_bootstrap_script)
export(chunk_worker_main)
export(current_git_sha)
export(default_mode_dispatch)
export(first_resume_mismatch)
export(load_run_manifest)
export(manifest_all_complete)
export(new_run_manifest)
export(plan_census)
export(promote_temp_file)
export(read_chunk_receipt)
export(run_chunk_worker)
export(run_manifest_path)
export(run_resumable)
export(save_run_manifest)
export(spawn_chunk_child)
export(validate_chunk_artifact)
export(write_matrix_chunk_atomic)
export(write_parquet_atomic)

importFrom(data.table, ":=")
importFrom(data.table, set)
importFrom(data.table, setDT)
